* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif
}

header {
    background-color: blue;
    padding: 1rem;
    display: flex;
    justify-content:space-between;
}


aside {
    background-color: rgb(17, 255, 0);
    padding: 1rem;
    width: 5rem;
    display: block;
}

footer {
    background-color: rgb(255, 0, 247);
    padding: 1rem;
    bottom: 0;
}

h1 {
    
}

h3 {
    padding: 0 0 1rem 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
}

a:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.container {
    display: flex;
    min-height: 80vh;
}

.main {
    background-color: rgb(255, 153, 0);
    padding: 1rem;
    width: 100vw;
}

.projects {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.card {
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid rgb(17, 255, 0);
    border-radius: 8px;
    min-width: 200px;
    max-width: 500px;
    min-height: 200px;
    box-shadow: 5px 10px rgb(255, 0, 247);
}

.viewer-title {
    background-color: rgb(255, 153, 0);
    width: 50vw;
    height: 2rem;
    position: absolute;
    top: 1rem;
    left: 25vw;
}

.viewer-menu {
    background-color: rgb(30, 0, 255);
    width: 50vw;
    height: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 25vw;
}

.selected-card {
    box-shadow: 5px 10px rgb(255, 255, 255);
}